// Tema base oscuro — aplica independientemente del modo del sistema
:root {
  --ion-background-color:     #0D0F14;
  --ion-background-color-rgb: 13, 15, 20;
  --ion-text-color:           #F0F2F7;
  --ion-text-color-rgb:       240, 242, 247;
  --ion-toolbar-background:   #13161D;
  --ion-tab-bar-background:   #13161D;
  --ion-item-background:      #13161D;
  --ion-card-background:      #13161D;
  --ion-color-primary:        #00E5A0;
  --ion-color-primary-contrast: #000000;
}
